/*
 * CSS properties that are useful for the pageTriage application globally
 */

.shadow {
	-moz-box-shadow: 0 0 30px 5px #aaa;
	-webkit-box-shadow: 0 0 30px 5px #aaa;
}

.mwe-pt-author-info {
	font-size: 0.8em;
}
