/*
 * CSS properties that are useful for the pageTriage application globally
 */

.shadow {
	-moz-box-shadow: 0 0 30px 5px #aaa;
	-webkit-box-shadow: 0 0 30px 5px #aaa;
}

.mwe-pt-control-gradient {
	/* e7f1f7 to 9da3a8 */
	/* of e7f1f7 b6bec3 */
	background: #d0d8de; /* for non-css3 browsers */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7f1f7', endColorstr='#b6bec3' ); /* for IE */
	background: -webkit-gradient( linear, left top, left bottom, from( #e7f1f7 ), to( #b6bec3 ) ); /* for webkit browsers */
	background: -moz-linear-gradient( top,  #e7f1f7,  #b6bec3 ); /* for firefox 3.6+ */
}

.mwe-pt-talk-contribs {
	font-size: 0.8em;
}
