.mwe-pt-navigation-bar {
	border: 1px solid #ccc;
}

.mwe-pt-control-gradient {
	background: #C9C9C9; /* for non-css3 browsers */
	/*
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7f1f7', endColorstr='#b6bec3' );
	background: -webkit-gradient( linear, left top, left bottom, from( #e7f1f7 ), to( #b6bec3 ) );
	background: -moz-linear-gradient( top,  #e7f1f7,  #b6bec3 );
	*/
}

#mwe-pt-list-control-nav-content {
	padding: 0.5em 1em 1em 1em;
}

.stickyTop #mwe-pt-list-control-nav {
	position: fixed;
	top: 0;
	z-index: 1;
	box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
}

.mwe-pt-control-section {
	margin-top: 0.4em;
	z-index: 51;
}

.mwe-pt-control-label-right {
	float: right;
}

.mwe-pt-control-options {
	margin-left: 1em;
	margin-right: 0.5em;
	white-space: nowrap;
}

.mwe-pt-control-buttons {
	margin: 0.2em 0em 0em -0.4em;
}

#mwe-pt-control-dropdown {
	position: absolute;
	z-index: 50;
	top: 23px;
	left: 48px;
	visibility: hidden;
	border: 1px solid #aaa;
	padding: 0.5em 1em 0.2em 1em;
	color: #000000;
	cursor: default;
	box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
}

#mwe-pt-control-dropdown-pokey {
	/* @embed */
	background-image: url('images/dialog_pokey_north.png');
	background-repeat: no-repeat;
	width: 21px;
	height: 11px;
	position: absolute;
	z-index: 51;
	top: 13px;
	left: 50px;
	visibility: hidden;
	cursor: auto;
}

#mwe-pt-filter-dropdown-control {
	color: #0645AD;
	cursor: pointer;
	position: relative;
}

.mwe-pt-filter-sub-input {
	padding-left: 0.5em;
}

#mwe-pt-sort-buttons {
	margin-right: 0.3em;
}
#mwe-pt-sort-buttons .ui-button {
	margin-top: 0;
}
#mwe-pt-sort-buttons .ui-button-text {
	font-size: 95%;
	padding: 0.2em 0.6em 0.1em 0.6em;
}

#mwe-pt-sort-buttons .ui-button {
	/* @embed */
	background: #7e8183 url('images/sort_button_off.png') repeat-x scroll 50% 100%;
	color: #0645AD;
}
#mwe-pt-sort-buttons .ui-button.ui-state-active {
	/* @embed */
	background: #d9e3e8 url('images/sort_button_on.png') repeat-x scroll 50% 100%;
	color: white;
	border-color: #6e7273;
}
