/*
 * CSS properties that are useful for the pageTriage list view, but don't fall under one of the more
 * specific views
 */

#mwe-pt-list-more {
	text-align: center;
	font-size: 17px;
	line-height: 20px;
	background-color: #E8F2F8;
	margin: 0;
	padding: 0.4em;
	border: 1px solid #CCC;
	border-top: none;
	min-height: 21px;
}

#mwe-pt-list-more-link {
	cursor: pointer;
}

#mwe-pt-list-errors {
	color: #C00;
	font-size: 1.2em;
	line-height: 1.3em;
	margin: 0;
	padding: 0.4em;
	border: 1px solid #CCC;
	border-top: none;
}

#mwe-pt-list-warnings {
	color: #C00;
	font-size: 1.2em;
	line-height: 1.3em;
	margin-bottom: 0.5em;
}
