#mwe-pt-list-stats-nav {
	border-top: none;
	min-height: 50px;
}

#mwe-pt-list-stats-nav-content {
	padding: 0.5em 1em;
}

.stickyBottom #mwe-pt-list-stats-nav {
	border-top: 1px solid #ccc !important;
	position: fixed;
	bottom: 0;
	z-index: 1;
	box-shadow: 0px -7px 10px rgba(0, 0, 0, 0.4);
}

.mwe-pt-stats-label {
	font-weight:bold;
}

#mwe-pt-refresh-button-holder {
	float: right;
}
