#mwe-pt-list-stats-nav {
	border-top: none;
}

#mwe-pt-list-stats-nav-content {
	padding: 0.5em 1em;
}

.stickyBottom #mwe-pt-list-stats-nav {
	border-top: 1px solid #ccc !important;
	position: fixed;
	bottom: 0;
	z-index: 1;
}

.mwe-pt-stats-label {
	font-weight:bold;
}

#mwe-pt-refresh-button-holder {
	float: right;
}
