.mwe-pt-article-row-even {
	background-color: #f1f1f1;
}

.mwe-pt-article-row-odd {
	background-color: #fff;
}

.mwe-pt-info-pane {
	padding: 0.5em 0.6em 0.6em 2.7em;
	min-height: 4.8em;
	display: table;
	box-sizing: border-box;
	width: 100%;
}

.mwe-pt-info-row {
	display: table-row;
	vertical-align: top;
}

.mwe-pt-status-icon {
	position: absolute;
	top: 5px;
	left: 5px;
	width: 21px;
	height: 21px;
}

.mwe-pt-article-row {
	position: relative;
	border: 1px solid #ccc;
	border-top: 0;
}

/* cell containing the big blue "Review" button */
.mwe-pt-review {
	text-align: right;
	display: table-cell;
}

/* info about the article */
.mwe-pt-article {
	font-size: 1.1em;
	line-height: 1.6em;
	display: table-cell;
}

.mwe-pt-page-title {
	font-weight: bold;
}

.mwe-pt-histlink {
	font-size: 1em;
}

.mwe-pt-metadata-warning,
.mwe-pt-issue {
	color: #c00;
	font-weight: bold;
}

.mwe-pt-creation-date {
	font-weight: bold;
	font-size: 1em;
	margin-left: 1em;
	display: table-cell;
	text-align: right;
	white-space: nowrap;
}

/* info about the article's author */
.mwe-pt-author {
	display: table-cell;
}

.mwe-pt-updated-date {
	display: table-cell;
	text-align: right;
	white-space: nowrap;
}

/* the article snippet */
.mwe-pt-snippet {
	color: #54595d;
	padding-right: 1em;
	display: table-cell;
	vertical-align: top;
}

.mwe-pt-predicted-class {
	display: table-cell;
}

.mwe-pt-potential-issues {
	display: table-cell;
	text-align: right;
	white-space: nowrap;
}
