<!-- individual list item template -->
<% if ( afd_status == "1" || blp_prod_status == "1" || csd_status == "1" || prod_status == "1" ) { %>
	<div class="mwe-pt-article-row mwe-pt-deleted">
		<div class="mwe-pt-status-icon">
			<img src="<%= mw.config.get( 'wgExtensionAssetsPath' ) + '/PageTriage/modules/ext.pageTriage.views.list/images/icon_marked_for_deletion.png' %>" width="21" height="21" title="<%= gM( "pagetriage-note-deletion" ) %>" />
		</div>
<% } else if ( patrol_status != "0" ) { %>
	<div class="mwe-pt-article-row mwe-pt-reviewed">
		<div class="mwe-pt-status-icon">
			<img src="<%= mw.config.get( 'wgExtensionAssetsPath' ) + '/PageTriage/modules/ext.pageTriage.views.list/images/icon_reviewed.png' %>" width="21" height="21" title="<%= gM( "pagetriage-note-reviewed" ) %>" />
		</div>
<% } else { %>
	<div class="mwe-pt-article-row mwe-pt-new">
		<div class="mwe-pt-status-icon">
			<img src="<%= mw.config.get( 'wgExtensionAssetsPath' ) + '/PageTriage/modules/ext.pageTriage.views.list/images/icon_not_reviewed.png' %>" width="21" height="21" title="<%= gM( "pagetriage-note-not-reviewed" ) %>" />
		</div>
<% } %>
<% if ( position % 2 == 0 ) { %>
	<div class="mwe-pt-info-pane mwe-pt-info-pane-even">
<% } else { %>
	<div class="mwe-pt-info-pane mwe-pt-info-pane-odd">
<% } %>
		<div class="mwe-pt-article">
			<span class="mwe-pt-creation-date"><%= creation_date_pretty %></span>
			<a class="mwe-pt-list-triage-button ui-button-blue" href="<%= title_url %>" target="_blank"></a>
			<span class="mwe-pt-page-title"><a href="<%= title_url %>" target="_blank"><%= mw.html.escape( title ) %></a></span>
			<span class="mwe-pt-histlink">
				(<a href="<%= mw.config.get("wgScriptPath") + "/index.php?title=" + title_url_format + "&action=history" %>"><%= gM( "pagetriage-hist" ) %></a>)
			</span>
			<span class="mwe-pt-metadata">
				&#xb7;
				<%= gM( "pagetriage-bytes", page_len ) %>
				&#xb7;
				<%= gM( "pagetriage-edits", rev_count ) %>
				&#xb7;
				<% if( category_count == "0" ) { %>
					<span class="mwe-pt-metadata-warning"><%= gM( "pagetriage-no-categories" ) %></span>
					<% } else { %>
						<%= gM( "pagetriage-categories", category_count ) %>
					<% } %>
					<% if( linkcount == "0" ) { %>
						&#xb7; <span class="mwe-pt-metadata-warning"><%= gM("pagetriage-orphan") %></span>
					<% } %>
			</span>
		</div>
		<div class="mwe-pt-author">
		<% if( typeof( user_name ) != 'undefined' ) { %>
			<%= gM( 'pagetriage-byline' ) %>
			<a <%= userPageLinkClass %> href="<%= user_title_url %>"><%= mw.html.escape( user_name ) %></a>
			<span class="mwe-pt-talk-contribs">
				(<a <%= talkPageLinkClass %> href="<%= user_talk_title_url %>"><%= gM( 'talkpagelinktext' ) %></a>
				&#xb7;
				<a href="<%= user_contribs_title.getUrl() %>"><%= gM( 'contribslink' ) %></a>)
			</span>
			<!-- user_id is undefined or '0' for IP users -->
			<% if( typeof ( user_id ) != 'undefined' && Number( user_id ) !== 0 ) { %>
				&#xb7;
				<%= gM( 'pagetriage-editcount', user_editcount, user_creation_date_pretty ) %>
				<% if( user_bot == "1" ) { %>
					&#xb7;
					<%= gM( 'pagetriage-author-bot' ) %>
				<% } %>
				<% if( user_autoconfirmed == "0" ) { %>
					&#xb7;
					<span class="mwe-pt-metadata-warning">
					<%= gM( 'pagetriage-author-not-autoconfirmed' ) %>
					</span>
				<% } %>
			<% } %>
			<% if( user_block_status == "1" ) { %>
				&#xb7;
				<span class="mwe-pt-metadata-warning">
				<%= gM( 'pagetriage-author-blocked' ) %>
				</span>
			<% } %>
		<% } else { %>
			<%= gM('pagetriage-no-author') %>
		<% } %>
		</div>
		<div class="mwe-pt-snippet">
			<%= mw.html.escape( snippet ) %>
		</div>
	</div>
</div>
