#mwe-pt-list-stats-nav-content {
	padding: 0.5em 1em;
}

.stickyBottom #mwe-pt-list-stats-nav {
	position: fixed;
	bottom: 0;
	left: 160px;
	margin-left: 16px;
	z-index: 1;
}

.mwe-pt-stats-label {
	font-weight:bold;	
}
