
.mwe-pt-article-row {
	width: 100%;
}

.mwe-pt-status-icon {
	float: left;
	width: 50px;
}

.mwe-pt-info-pane {
	margin-left: 50px;
}

.mwe-pt-page-title {
	font-size: 1.2em;
	font-weight: bold;
}

.mwe-pt-histlink {
	font-size: 1em;
}

.mwe-pt-metadata {
	font-size:1.2em;
}

.mwe-pt-metadata-warning {
	color: red;
	font-weight: bold;
}

.mwe-pt-snippet {
	color: #bebebe;
}

