
.mwe-pt-info-pane-even {
	background-color: #efefef;
}

.mwe-pt-info-pane-odd {
	background-color: white;
}

.mwe-pt-info-pane {
	margin-left: 50px;
}

.mwe-pt-status-icon {
	float: left;
	width: 50px;
	height: 100%;
}

.mwe-pt-status-icon-new {
	background-color: #f2b3b3;
}

.mwe-pt-status-icon-triaged {
	background-color: #c3ead7;
}

.mwe-pt-status-icon-deleted {
	background-color: #b3b3b3;
}

/* info about the article */
.mwe-pt-article {
	font-size: 1.2em;
}

.mwe-pt-page-title {
	font-weight: bold;
}

.mwe-pt-histlink {
	font-size: 1em;
}

.mwe-pt-metadata {
}

.mwe-pt-metadata-warning {
	color: red;
	font-weight: bold;
}

.mwe-pt-creation-date {
	float: right;
}

/* info about the article's author */
.mwe-pt-author {
}

/* the article snippet */
.mwe-pt-snippet {
	color: #bebebe;
}
