.mwe-pt-navigation-bar {
	background-color: #e6f0f6;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border: 1px solid #ccc;
}

#mwe-pt-list-stats-nav {
	border-top: none;
}

.sticky #mwe-pt-list-control-nav {
	position: fixed;
	top: 0;
	left: 160px;
	margin-left: 16px;
}

.mwe-pt-control-label {
	padding-left: 1em;
}

.mwe-pt-control-label-right {
	float: right;
	padding-right: 1em;
}

.mwe-pt-control-dropdown {
	visibility: hidden;
	width: 250px
	height: ;
}

#mwe-pt-control-dropdown {
	position: absolute;
	background-color: #bebebe;
	left: 5em;
	visibility: hidden;
}

#mwe-pt-filter-dropdown-control {
	color: #0645AD;
}

span:hover #mwe-pt-filter-dropdown-control {
	/* TODO: make this actually work */
	cursor: pointer;
}
