
.mwe-pt-info-pane-even {
	background-color: #efefef;
}

.mwe-pt-info-pane-odd {
	background-color: white;
}

.mwe-pt-info-pane {
	margin-left: 31px;
	padding: 0.5em 0.6em 0.6em 0.5em;
}

.mwe-pt-status-icon {
	position: absolute;
	top: 5px;
	left: 5px;
	width: 21px;
	height: 21px;
}

.mwe-pt-article-row {
	position: relative;
	border: 1px solid #ccc;
	border-top: none;
}

.mwe-pt-article-row.mwe-pt-new {
	background-color: #f2b3b3;
}
.mwe-pt-article-row.mwe-pt-triaged {
	background-color: #c3ead7;
}
.mwe-pt-article-row.mwe-pt-deleted {
	background-color: #b3b3b3;
}

.mwe-pt-deleted .mwe-pt-status-icon {
	/* @embed */
	background-image: url('images/icon_marked_for_deletion.png');
	background-repeat: no-repeat;
}
.mwe-pt-new .mwe-pt-status-icon {
	/* @embed */
	background-image: url('images/icon_not_triaged.png');
	background-repeat: no-repeat;
}
.mwe-pt-triaged .mwe-pt-status-icon {
	/* @embed */
	background-image: url('images/icon_triaged.png');
	background-repeat: no-repeat;
}

.mwe-pt-list-triage-button {
	position: absolute;
	top: 2.2em;
	right: 0.6em;
}

/* info about the article */
.mwe-pt-article {
	font-size: 1.1em;
	line-height: 1.6em;
}

.mwe-pt-page-title {
	font-weight: bold;
}

.mwe-pt-histlink {
	font-size: 1em;
}

.mwe-pt-metadata {
}

.mwe-pt-metadata-warning {
	color: #c00;
	font-weight: bold;
}

.mwe-pt-creation-date {
	float: right;
	font-weight: bold;
	font-size: 1em;
}

/* info about the article's author */
.mwe-pt-author {
	margin-left: 25px;
}

.mwe-pt-talk-contribs {
	font-size: 0.8em;
}

/* the article snippet */
.mwe-pt-snippet {
	color: #808080;
	margin-left: 25px;
	margin-right: 8em;
}
