<!-- basic article information -->
<div class="mwe-pt-info-basic">
	<!-- status icon -->
	<div class="mwe-pt-info-status-icon">
		<% if ( afd_status == "1" || blp_prod_status == "1" || csd_status == "1" || prod_status == "1" ) { %>
			<img src="<%= mw.config.get( 'wgExtensionAssetsPath' ) + '/PageTriage/modules/ext.pageTriage.views.list/images/icon_marked_for_deletion.png' %>" width="21" height="21" title="<%= gM( "pagetriage-note-deletion" ) %>" />
		<% } else if ( patrol_status != "0" ) { %>
			<img src="<%= mw.config.get( 'wgExtensionAssetsPath' ) + '/PageTriage/modules/ext.pageTriage.views.list/images/icon_reviewed.png' %>" width="21" height="21" title="<%= gM( "pagetriage-note-reviewed" ) %>" />
		<% } else { %>
			<img src="<%= mw.config.get( 'wgExtensionAssetsPath' ) + '/PageTriage/modules/ext.pageTriage.views.list/images/icon_not_reviewed.png' %>" width="21" height="21" title="<%= gM( "pagetriage-note-not-reviewed" ) %>" />
		<% } %>
	</div>
	<!-- page status  -->
	<div class="mwe-pt-info-page-status">
		<%= page_status %>
	</div>
	<!-- author info -->
	<span class="mwe-pt-author">
		<% if( typeof( user_name ) != 'undefined' ) { %>
			<%= articleByline %>
			<div>
				<!-- if user is registered (user_id is 0 for IP users) -->
				<% if( typeof user_id != 'undefined' && Number( user_id ) !== 0 ) { %>
					<%= gM( 'pagetriage-editcount', user_editcount, user_creation_date_pretty ) %>
				<% } %>
			</div>
		<% } else { %>
			<%= gM('pagetriage-no-author') %>
		<% } %>
	</span>
	<div class="mew-pt-info-stat">
		<%= articleStat %>
	</div>
</div>
<br/>

<!-- possible problems section -->
<div class="mwe-pt-info-header">	
	<%= gM( 'pagetriage-info-problem-header' ) %>
</div>
<div class="mwe-pt-info-content">
	<% if ( problems ) { %>
		<%= problems %>
	<% } else { %>
		<%= gM( 'pagetriage-info-no-problems' ) %>
	<% } %>
</div>
<br/>

<!-- history section -->
<div class="mwe-pt-info-header">
	<%= gM( 'pagetriage-info-history-header' ) %>
	<span class="mwe-pt-info-header-details">
		<%= gM( 'pagetriage-edits', rev_count ) %> &#xb7;
		<a href="<%= history_link %>"><%= gM( 'pagetriage-info-history-show-full' ) %></a>
	</span>
</div>
<div class="mwe-pt-info-content" id="mwe-pt-info-history-container"></div>
