<!-- tag list -->
<div id="mwe-pt-tags"></div>
<!-- category list -->
<div id="mwe-pt-categories">
	<%
	for ( key in tags) {
	%>
		<div id="mwe-pt-category-<%= key %>" class="mwe-pt-category">
			<a href="#" cat="<%= key %>"><%= mw.html.escape( tags[key].label ) %></a> <span class="mwe-pt-tag-count"></span>
			<div class="mwe-pt-category-pokey"></div>
		</div>
	<%
	}
	%>
</div>
<div id="mwe-pt-tags-bottom">
	<div id="mwe-pt-checkbox-mark-reviewed-wrapper">
		<input id="mwe-pt-checkbox-mark-reviewed" type="checkbox" value="mark reviewed" disabled="disabled">
		<label id="mwe-pt-checkbox-mark-reviewed-label" for="mwe-pt-checkbox-mark-reviewed">Mark this page as reviewed</label>
	</div>
	<div id="mwe-pt-tag-submit">
		<a href="#" id="mwe-pt-tag-submit-button" class="ui-button-green"><%= mw.msg('pagetriage-button-add-tag-number', 0) %></a>
	</div>
</div>
