/* stylesheet for the main toolbar view */

#mwe-pt-toolbar {
	width: 39px;
	padding: 2px;
	position: fixed;
	top: 150px;
	z-index: 1;
	right: 0px;
}

#mwe-pt-toolbar-main {
}

#mwe-pt-toolbar-close {
	background-color: #cacaca;
	text-align: center;
}
