<div class="mwe-pt-tool-icon-container"><img class="mwe-pt-tool-icon" src="<%= iconPath %>" width="35" height="35" /></div>

<div class="mwe-pt-tool-pokey" style="display: none;"></div>
<div class="mwe-pt-tool-flyout" style="display: none;">
	<span class="mwe-pt-tool-title"><%= title %></span>
	<a class="mwe-pt-flyout-help-link" href="#"><%= gM( 'pagetriage-toolbar-learn-more' ) %></a>
	<span class="mwe-pt-tool-close">(close)<!-- make this a system message --></span>
	<div class="mwe-pt-tool-content">
	<!-- content goes here -->
	</div>
</div>
