<!-- tag list -->
<div id="mwe-pt-tags"></div>
<!-- category list -->
<div id="mwe-pt-categories">
	<%
	for ( key in tags) {
	%>
		<div id="mwe-pt-category-<%= key %>" class="mwe-pt-category">
			<a href="#" cat="<%= key %>"><%= mw.html.escape( tags[key].label ) %></a> <span class="mwe-pt-tag-count"></span>
			<div class="mwe-pt-category-pokey"></div>
		</div>
	<%
	}
	%>
</div>
<div id="mwe-pt-tags-bottom">
	<div class="mwe-pt-tool-warning-notice"><%= warningNotice %></div>
	<div id="mwe-pt-tag-note">
		<div id="mwe-pt-tag-note-title"><%= mw.html.escape( gM( 'pagetriage-add-a-note' ) ) %></div>
		<div id="mwe-pt-tag-note-char-count"><%= mw.html.escape( gM( 'pagetriage-characters-left', maxLength ) ) %></div>
		<textarea id="mwe-pt-tag-note-input"><%= mw.html.escape( gM( 'pagetriage-personal-default-note', creator ) ) %></textarea>
	</div>
	<div id="mwe-pt-tag-submit">
		<a href="#" id="mwe-pt-tag-submit-button" class="ui-button-green"><%= mw.html.escape( mw.msg( 'pagetriage-button-add-tag-number', 0 ) ) %></a>
	</div>
</div>
