/* stylesheet for the main toolbar view */

#mwe-pt-toolbar {
	position: fixed;
	top: 140px;
	z-index: 50;
	right: 0;
	padding: 3px;
	padding-bottom: 5px;
	background-color: #cacaca;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #9F9F9F;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
.skin-monobook #mwe-pt-toolbar {
	font-size: 1.5em;
}
.ve-activated #mwe-pt-toolbar {
	display: none;
}

.mwe-pt-toolbar-big {
	width: 35px;
}

.mwe-pt-toolbar-small {
	width: 15px;
}

#mwe-pt-toolbar-backstage{
	visibility: hidden;
}

#mwe-pt-toolbar-inactive {
	width: 15px;
	height: 90px;
	cursor: pointer;
	display: none;
}

.mwe-pt-toolbar-close {
	width: 12px;
}
.mwe-pt-toolbar-small .mwe-pt-toolbar-close {
	width: auto;
	text-align: center;
}
.mwe-pt-toolbar-close-button {
	background-image: url('images/close.png');
	height: 12px;
	width: 12px;
	margin: 0 auto;
	cursor: pointer;
}

p#mwe-pt-toolbar-vertical {
	color: #333;
	border: 0 solid red;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	white-space: nowrap;
	display: block;
	bottom: 0;
	width: 20px;
	height: 20px;
	font-size: 1em;
	font-weight: normal;
}
