/* override the default width */
#mwe-pt-mark .mwe-pt-tool-flyout {
	width: 350px;
}

.mwe-pt-mark-helptext {
	font-size: 0.9em;
}

#mwe-pt-review-note {
	margin-top: 10px;
}

#mwe-pt-review-note-title {
	float: left;
	font-size: 0.9em;
}

#mwe-pt-review-note-char-count {
	float: right;
	font-size: 0.9em;
}
#mwe-pt-review-note-input {
	clear: both;
	font-size: 11px;
	height: 50px;
	width: 325px;
	margin: 5px 5px 2px 2px;
	color: #666;
}
