#mwe-pt-info .mwe-pt-tool-flyout {
	top: -26px;
}

.mwe-pt-info-header {
	border-bottom: 1px solid black;
	margin-bottom: 0.5em;
	font-weight: bold;
	width: 100%;
	clear: both;
}

.mwe-pt-info-header-details {
	font-weight: normal;
	font-size: 0.8em;
	float: right;
}

.mwe-pt-info-basic {
	position: relative;
	line-height: 1.2em;
}

.mwe-pt-info-creation-date {
}

.mwe-pt-info-problem {
}

.mwe-pt-info-problem-name {
	color: red;
}

.mwe-pt-info-problem-desc {
	font-size: 0.9em;
	color: #666666;
}
.mwe-pt-info-status-icon {
	float: left;
	padding: 3px 5px 7px 3px;
}

.mwe-pt-info-content {
}

.mwe-pt-info-history-date {
	font-weight: bold;
}

.mwe-pt-info-history-entry {
	font-size: 0.9em;
	margin: 0.5em 0 0.5em 1.5em;
}

.mwe-pt-info-page-status {
	padding-top: 5px;
	margin-bottom: 20px;
}

.mew-pt-info-stat {
	margin-top: 10px;
}
